#slider{
    width: 1190px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    .slider-img{
        width: 1190px;
        h497px
        ul{
            list-style: none;
        }
        li{
            position: absolute;
            top: 0;
            left: 0;
            img{
                width: 1190px;
                height: 497px;
            }
        }
    }
    .slider_ctrl{
        .slider-ctrl-con{
            width: 40px;
            height: 40px;
            background-color: #000;
        }
    }
}
#main{
    width: 100%;
    font-size: 0;
    overflow: hidden;
    .m1{
        margin-top: 30px;
        overflow: hidden;
        .main_content{
            padding: 0 50px;
            position: relative;
            .left_arrow{
                position: absolute;
                width: 45px;
                height: 60px;
                border-radius: 60px;
                cursor: pointer;
                background-color: #dadada;
                top: 106px;
                left: 5px;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                }
            }
            .right_arrow{
                position: absolute;
                width: 45px;
                height: 60px;
                border-radius: 60px;
                cursor: pointer;
                background-color: #dadada;
                top: 106px;
                right: 5px;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                }
            }
            ul{
                width: 1090px;
                overflow: hidden;
                white-space: nowrap;
                li{
                    width: 187px;
                    border-left: 1px solid transparent;
                    padding: 0 15px;
                    position: relative;
                    height: 300px;
                    float: none;
                    display: inline-block;
                    a{
                        text-align: left;
                        img{
                            padding: 20px 0 10px;
                            height: 159px;
                            transition: all .7s linear;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                    .pp{
                        height: 40px;
                    }
                    .shoping{
                        position: absolute;
                        display: block;
                        width: 60px;
                        border-radius: 3px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        color: #fff;
                        background-color: #f93;
                        right: 34px;
                        bottom: 26px;
                        i{
                            font-size: 31px;
                        }
                    }
                }
            }
        }
    }
}
